main {
  display: flex;
  width: 100%;
  border-bottom: 12px solid #D42026;
  flex-flow: column;
  padding: 0 42px
}

.content {
  display: none;
}

header {
  padding-top: 20px;
  width: 100%;
  color: #D42026;
  font-size: 27px;
  font-weight: 900!important;
}

header div h1 {
  flex: 2 0 0;
  font-size: 27px;
}

header div span {
  font-weight: 300;
}

.borda {
  content: '';
  display: block;
  width: 54px;
  height: 4px;
  background: #D42026;
}

.flex-container {
  display: flex;
}

.flex-container .nome-candidato {
  font-size: 27px;
  font-weight: 300;
}

.main {
  /* min-height: 680px; */
  padding-top: 34px;
  position: relative;
  flex: 1 1 auto;
}

.nome-personagem {
  color: #D42026;
  font-size: 16px;
  font-weight: 400;
}

.input-busca-personagem {
  border: 1px solid #a5a5a5;
  padding: 5px;
  border-radius: 3px;
  height: 31px;
  width: 400px;
}

.descricao {
  word-break: break-word;
}

.table-main {
  flex: 1 1 auto;
  margin-top: 34px;
  position: relative;
}

.table {
  width: 100%;
  table-layout: fixed;
}

tbody {
  display: block;
}

tbody {
  overflow-y: scroll;
  height: 100px;
}

.table th, .table td {
  padding: 5px;
}

.table-main .table-body {
  border-collapse: collapse;
}

tbody tr {
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}

::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
  background: #dad7d7;
}

.table thead th {
  height: 37px;
  background: #D42026;
  padding: 9px 16px;
  padding-right: 10px;
  text-align: left;
  font-weight: 400;
  color: #fff;
}

.table tbody tr:hover {
  background: rgba(212, 32, 38, 0.1);
}

.table tbody tr {
  height: 112px;
}

.table tbody tr td {
  border-bottom: solid 1.6px rgba(212, 32, 38, 0.3);
  padding: 20px 15px;
  border-top: 0;
}

.table tbody tr td br {
  content: ' ';
}

.table tbody tr td br:after {
  content: ', ';
}

.avatar {
  display: inline-block;
  width: 58px;
  height: 58px;
  margin-right: 25px;
  border: 1px solid #000;
  border-radius: 58px;
  overflow: hidden;
  vertical-align: middle;
}

.avatar img {
  width: 100%
}

.list-paginacao {
  align-items: center;
  display: flex;
  height: 138px;
  justify-content: center;
}

.list-paginacao li button:hover {
  background-color: #D42026!important;
  color: #fff!important;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}

.paginacao {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.loading {
  justify-content: center;
  display: flex;
}

.paginacao button {
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
  width: 32px;
  outline: none;
  cursor: pointer;
  border: solid 1px #D42026;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  color: #D42026
}

.paginacao li {
  margin-right: 20px;
}

.paginacao li:first-child {
  margin-left: 12px;
}

.paginacao li:last-child {
  margin-right: 12px;
}

.pagina-ativa {
  background-color: #D42026!important;
  color: #fff!important;
}

.left {
  background: url('../img/left.png') no-repeat;
  border: none;
  width: 20px;
  height: 24px;
  padding: 0;
  cursor: pointer;
}

.right {
  background: url('../img/right.png') no-repeat;
  border: none;
  width: 20px;
  height: 24px;
  padding: 0;
  cursor: pointer;
}

.limpar-busca {
  cursor: pointer;
  padding-top: 10px;
  display: none;
  color: #D42026;
}

.modal {
  display: none;
  position: absolute;
  width: 80%;
  height: 510px;
  margin: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #fdfdfd;
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.modal .header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal .body {
  flex: 1 1 auto;
  padding: 1rem;
}

.modal .header .close {
  background-color: transparent;
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
  border: none;
}

#modal-text {
  height: 355px;
  overflow-y: scroll;
  width: 100%;
  padding: 0px 16px;
}